.c1{
    background-color: aqua;
}
.c2{
    background-color: blanchedalmond;
}
.c3{
    background-color: aquamarine;
}
.c4{
    background-color: rgb(162, 162, 238);
}
.c5{
    background-color: cornflowerblue;
}
.c6{
    background-color: rgb(255, 170, 139);
}
.c7{
    background-color: rgb(194, 245, 142);
}
.c8{
    background-color: rgb(241, 218, 88);
}
.c9{
    background-color: rgb(228, 163, 163);
}
.c10{
    background-color: rgb(200, 255, 255);
}
.c11{
    background-color: rgb(243, 155, 123);
}
.ex1{
    background-color: chartreuse;
}
.ex2{
    background-color: rgb(102, 163, 143);
}
.ex3{
    background-color: rgb(255, 130, 245);
}
.ex4{
    background-color: rgb(250, 102, 102);
}
.ex5{
    background-color: rgb(79, 120, 243);
}
.ex6{
    background-color: khaki;
}
.ex7{
    background-color: darksalmon;
}
.ex8{
    background-color:  rgb(120, 240, 240);
}
.ex9{
    background-color:  rgb(211, 164, 147);
}